{% extends 'dash/base.html' %}
{% load static %}
{% block title %}Connect with Other Farmers in India{% endblock %}
{% block content %}
<div class=" align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Forum</h1>
    <br>
    <h3 class="h5">This forum is a place where various farmers like you can connect and collaborate together to develop
        new ideas, get to know modern methods of farming and develop associations and relations.</h3>
</div>

<div class="row">
    <!-- Code me a responsive forum  -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div>

                <div class="card-body">
                    <div class="message-area">
                        <script src="http://apps.bravenet.com/go.js?service=forum;id=1;usernum=3461819880"
                            type="text/javascript" charset="utf-8"></script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}