<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5">
            <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">ArogyaKheti</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              English
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">English</a>
                              <a class="dropdown-item" href="#">हिंदी</a>
                              <a class="dropdown-item" href="#">తెలుగు</a>
                              <a class="dropdown-item" href="#">தமிழ்</a>
                              <a class="dropdown-item" href="#">मराठी</a>
                              <a class="dropdown-item" href="#">ગુજરાતી</a>
                              <a class="dropdown-item" href="#">বাংলা</a>
                            </div>
                          </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
</body>
</html>